@{
    ViewData["Title"] = "Yeni Tayin Talebi";
    var unvanList = new List<string>
    {
        "Yazı İşleri Müdürü",
        "Zabıt Katibi",
        "Mübaşir",
        "Hizmetli"
    };
}

<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow-lg p-3" style="width: 420px; border-radius: 20px;">


        <div class="card-body">
            <h4 class="card-title text-center mb-3">Yeni Kullanıcı Kaydı</h4>

            @if (ViewBag.Hata != null)
            {
                <div class="alert alert-danger text-center">@ViewBag.Hata</div>
            }

            <form method="post">

                <div class="mb-3">
                    <label for="adSoyad" class="form-label">Adı Soyadı</label>
                    <input type="text" class="form-control form-control-lg" id="adSoyad" name="adSoyad" required />

                </div>

                <div class="mb-3">

                    <label for="sicilNo" class="form-label">Sicil Numarası</label>
                    <input class="form-control form-control-lg" type="text" name="sicilNo" required />
                </div>


                <div class="mb-3">
                    <label for="unvan" class="form-label">Ünvanı</label>
                    <select class="form-select" id="unvan" name="unvan">
                        <option value="">Ünvan Seçiniz...</option>
                        @foreach (var unvan in unvanList)
                        {
                            <option>@unvan</option>

                        }
                    </select>
                </div>

                <div class="mb-3">
                    <label for="gorevYeri" class="form-label">Görev Yeri</label>
                    <input type="text" class="form-control form-control-lg" id="gorevYeri" name="gorevYeri" required>
                </div>


                <div class="mb-3">
                    <label for="sifre" class="form-label">Şifre</label>
                    <input type="password" class="form-control form-control-lg" id="sifre" name="sifre" required>
                </div>




                <button type="submit" class="btn btn-primary w-100 btn-lg mt-2">Giriş Yap</button>


            </form>
        </div>
    </div>
</div>